.typography_normal {
  font-size: var(--text-size-normal);
}
.typography_big {
  font-size: var(--text-size-big);
}
.typography_header {
  margin: 5px 0;
  color: var(--accent);
  font-size: var(--text-size-header);
}
